body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: bold;
  }

 form {
    line-height: 45px;
    background-color: #FE4E00;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    border: 2px solid #FE4E00;
  }

h2 {
    background-color: black;
    color: #FE4E00;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    width: 95%;
}

.rams_container {
    float: left;
}

.bengals_container {
    float: right;
}

.header h1 {
    text-align: center;
}

form input[type="text"], form input[type="number"], form input[type="submit"], form input[type="button"] {
    background-color: black;
    color: #FE4E00;
    border: 2px solid black;
}

form input[type="submit"], form input[type="button"] {
    background-color: black;
    color: #FE4E00;
    border: 2px solid #FE4E00;
    font-weight: bold;
}