body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: #FFB81C;
    font-weight: bold;
  }

 form {
    line-height: 45px;
    background-color: #E31837;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    border: 2px solid #E31837;
  }

h2 {
    background-color: #FFB81C;
    color: #E31837;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    width: 95%;
}

.eagles_container {
    float: left;
}

.chiefs_container {
    float: right;
}

.header h1 {
    text-align: center;
}

form input[type="text"], form input[type="number"], form input[type="submit"], form input[type="button"] {
    background-color: #FFB81C;
    color: #E31837;
    border: 2px solid #FFB81C;
}

form input[type="submit"], form input[type="button"] {
    background-color: #FFB81C;
    color: #E31837;
    border: 2px solid #E31837;
    font-weight: bold;
}

#loading {
    visibility: hidden;
}

.sheet_link {
    color: #E31837;
}

#thanks {
    background-color: #FFB81C;
    color: #E31837;
}

@media only screen and (min-width: 600px) {
    form {
        font-size: 1.25em;
    }
}