body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: #fbe404;
  }

 form {
    line-height: 45px;
    background-color: #044c9b;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    border: 2px solid #fbe404;
  }

h2 {
    background-color: #fbe404;
    color: #044c9b;
}


.header {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    width: 95%;
}

.rams_container {
    float: left;
}

.bengals_container {
    float: right;
}

.header h1 {
    text-align: center;
}

form input[type="text"], form input[type="number"], form input[type="submit"], form input[type="button"] {
    background-color: black;
    color: #fbe404;
    border: 2px solid #fbe404;
}

form input[type="submit"], form input[type="button"] {
    background-color: black;
    color: #fbe404;
    border: 2px solid #fbe404;
    font-weight: bold;
}

@media only screen and (min-width: 600px) {
    form {
        font-size: 1.25em;
    }
}